<h1>page content</h1>
<p> a hyperlink, or simply a link, is a reference to data that the reader can directly follow either by clicking, tapping, or hovering.[1] A hyperlink points to a whole document or to a specific element within a document. Hypertext is text with hyperlinks. The text that is linked from is called anchor text. A software system that is used for viewing and creating hypertext is a hypertext system, and to create a hyperlink is to hyperlink (or simply to link). A user following hyperlinks is said to navigate or browse the hypertext.</p>
<a href="https://google.com">Go to Google</a><br/>
<a href="test.php">A test page</a><br/>
<a href="//www.youtube.com/upload">youtube test</a><br/>
<a href="../../anotherpage.php">Another page</a><br/>
<a href="/test/another/../../anotherpage.php">another page</a><br/>
<a href="#anchor">A link with an anchor</a><br/>
<a href="//www.djfhjfh.com/somepage.php">some page</a><br/>
<a href="./mooore.php">Another page</a><br/>
<a href="/even-more.php">Even more</a><br/>
<a href="javascript:d">Javascript link</a>